label.error{
		clear: both;
		color: #c92434;
		display: inline-block;
		float: left;
		font-style: italic;
		position: relative;
		width: 100%;
		font-weight:normal;
		font-size:12px;
   
}
form#edituser label.error{
	padding-bottom: 7px !important;
    position: absolute !important;
}
div.success {
	background: #4f9709 none repeat scroll 0 0;
    border-radius: 5px;
    top: 60px;
    color: #fff !important;
    cursor: pointer !important;
    float: right !important;
    height: 30px;
    opacity: 0.9 !important;
    padding: 5px 15px;
    position: fixed !important;
    right: 7px;
    text-align: center !important;
    z-index: 9999 !important;
    content: none !important;
}
div.message:before {
    content: none !important;
}
div.has-feedback{
	padding:0px 10px 5px 10px !important;

}

div.error {
	top: 60px;
    
}
div.message {
	top: 60px !important;
	
}

div.customImg > img.img-circle {
    border-radius: 5px !important;
}

.catImg{
	height:75px;
	width:60% !important;
}
.img-circle.profile_img {
	background: #fff none repeat scroll 0 0;
	border: 1px solid rgba(52, 73, 94, 0.44);
	margin-left: 0px !important;
	margin-top: 0px !important;
	position: inherit;
	/*z-index: 1000; 9 may*/
}
.paging_full_numbers {
	height: 50px !important;
	line-height: 22px;
	width: 400px;
}
.text-centerimage img {
	width: 75px !important;
}

body.nav-sm .container.body .left_col {

   /* overflow-y: scroll !important;*/

}

.editImg {
	width: 100px !important;
	top: 10px !important;
	bottom: 10px !important;
	margin-bottom: 10px !important;
	clear: both !important;
	position: relative !important;
}
.active{
	color:green;
}
.expire{
	color:red;
}
a {
	text-decoration:none !important ;
}
@media only screen and (max-width: 670px) {
   ul.nav li ul.child_menu li a > i.fa {
		display: none !important;
	}
	
	  ul.nav li a > i.fa {
		display: none !important;
	}
	
	.pull-right {
		
	 position: relative; 
	 right: 20px !important;
		
}
	
	}
}

@media (min-width: 501px) and (max-width:1024px) {

	.pull-right {
	
		//position: relative;
		right: 10px !important;
	}
}


@media only screen and (max-width: 767px) {
    .col-md-6  em {
	  float: left;
	  position: relative;
	 /* top: 95px;*/
	  width: 100%;
	}
}
label .fa.fa-asterisk {
    font-size: 6px;
    left: 2px;
    position: relative;
    top: -5px;
    color: red;
}
table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

/* on large screens, I use a different layout, so 600px are sufficient */
@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }
}
i.fa.fa-sign-out {
    float: right !important;
    position: absolute;
    right: 15px;
}

.f
