
.banner-area .ban-txt .hworks{ height:56px; line-height:54px; display:inline-block; width:auto; padding:0 15px;}

header .topnav-area .navbar li a{ font-size:14px; padding:8px 5px;}

@media (min-width:1681px) and (max-width:1920px){
.wcub-area .wcu-box{ min-height:360px;}

header .logo-area{ max-width:200px;}
header .top-search { max-width:390px;}
	
}

@media (min-width:1551px) and (max-width:1680px){
header .topnav-area .navbar li{padding:18px 3px;}
header .topnav-area .navbar li a{font-size:13.5px; padding:8px 3px;}
header.smaller .topnav-area .navbar li{padding:8px 3px;  }
header.smaller .topnav-area .navbar li a{color:#646464; padding:5px 10px; font-size:15px;}

.wcub-area .wcu-box{ min-height:360px;}

}

@media (min-width:1441px) and (max-width:1550px){
header .topnav-area .navbar li{padding:18px 5px;}
header .topnav-area .navbar li a{font-size:13px; padding:8px 2px;}
header.smaller .topnav-area .navbar li{padding:8px 3px;  }
header.smaller .topnav-area .navbar li a{color:#646464; padding:5px 2px; font-size:13px;}

.wcub-area .wcu-box{ min-height:360px;}

}

@media (min-width:1368px) and (max-width:1440px){
header .topnav-area .navbar li{padding:18px 3px;}
header .topnav-area .navbar li a{font-size:12px; padding:8px 2px;}
header.smaller .topnav-area .navbar .nav-logout li{padding:8px 3px;  }
header.smaller .topnav-area .navbar li a{color:#646464; padding:8px 2px; font-size:13px;}

.wcub-area .wcu-box{ min-height:360px;}

}

@media (min-width:1281px) and (max-width:1367px){
header .topnav-area .navbar .nav-logout li a{ font-size:12px; padding:8px 4px;}
header.smaller .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 4px;}

.wcub-area .wcu-box{ min-height:360px;}

}

@media (min-width:1200px) and (max-width:1280px){
header .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 4px;}
header.smaller .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 4px;}

.wcub-area .wcu-box{ min-height:360px;}

}

@media (min-width:1101px) and (max-width:1199px){
header .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 8px;}
header.smaller .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 8px;}
}
@media (min-width:1025px) and (max-width:1100px){
header .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 6px;}
header.smaller .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 6px;}
}
@media (min-width:992px) and (max-width:1024px){
header .topnav-area .navbar .nav-logout li a{ font-size:12px; padding:8px 6px;}
header.smaller .topnav-area .navbar .nav-logout li a{ font-size:12px; padding:8px 6px;}

.wcub-area .wcu-box{ min-height:330px;}

}
@media (min-width:901px) and (max-width:991px){
header .topnav-area .navbar .nav-logout li{ padding:8px 0px;}
header .topnav-area .navbar .nav-logout li a{ font-size:14px; padding:8px 11px;}
header.smaller .topnav-area .navbar .nav-logout li a{font-size:14px; padding:8px 11px;}

.wcub-area .wcu-box{ min-height:330px;}
}

@media (min-width:851px) and (max-width:900px){
header .topnav-area .navbar .nav-logout li{ padding:8px 0px;}
header .topnav-area .navbar .nav-logout li a{ font-size:14px; padding:8px 6px;}
header.smaller .topnav-area .navbar .nav-logout li a{font-size:14px; padding:8px 6px;}

.wcub-area .wcu-box{ min-height:330px;}

}

@media (min-width:801px) and (max-width:850px){
header .topnav-area .navbar .nav-logout li{ padding:8px 0px;}
header .topnav-area .navbar .nav-logout li a{ font-size:13px; padding:8px 9px;}
header.smaller .topnav-area .navbar .nav-logout li a{font-size:13px; padding:8px 9px;}

.wcub-area .wcu-box{ min-height:330px;}

}
@media (min-width:768px) and (max-width:800px){
header .topnav-area .navbar .nav-logout li{ padding:8px 5px;}
header .topnav-area .navbar .nav-logout li a{ font-size:12px; padding:8px 8px;}
header.smaller .topnav-area .navbar .nav-logout li a{ font-size:12px; padding:8px 8px;}

header .topnav-area .navbar .navbar-nav li{padding:18px 15px;}
header.smaller .topnav-area .navbar .navbar-nav li{padding:10px 15px;}
header.smaller .topnav-area .navbar li a{ font-size:14px; padding:8px 5px;}

.wcub-area .wcu-box{ min-height:330px;}

}