@charset "utf-8";
/* CSS Document */


.no-padding-right {padding-right:0px !important;} 
.no-padding-left {padding-left:0px !important;}



.bg-fff {background:#fff; padding-bottom:20px;}

.profile-view {margin-top:60px;} 

#createyourprofile h4 { color:#949494; font-size:18px; padding:28px 0 10px 0; font-family: 'Raleway', sans-serif; font-weight:500;}
#createyourprofile p { color:#3f3f3f; font-size:13px; font-family: 'Raleway', sans-serif;}

#createyourprofile ul { padding-bottom:50px; padding-left:30px; padding-right:30px;}

#createyourprofile ul li { padding-top:80px;}
#createyourprofile a {color:#72a105; text-decoration:none; outline:none;}

.color-green {color:#72a105; text-decoration:none; outline:none;}

.box-outer { padding-top:20px; padding-bottom:20px;}
#createyourprofile .box { max-width:350px; border:2px solid #72a105; border-radius:2px; }
#createyourprofile .box h5 { color:#fff; text-align:center; font-size:18px; background:#72a105; height:38px; padding-top:8px;}
#createyourprofile .box p {  text-align:center; font-size:13px; max-width:230px; margin:0px auto; padding:37px 0 47px 0;}
#createyourprofile .box h6 {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #72a105;
    color: #72a105;
    font-size: 15px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
}
#createyourprofile .box  h6:hover  { color:#fff; text-align:center; font-size:15px; background:#72a105; height:30px; padding-top:6px; border-top:1px solid #72a105; }

#createyourprofile .heading-create-profile {background: rgb(45, 59, 80) none repeat scroll 0 0;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    height: 58px;
    padding: 0 0 0 20px;}


#createyourprofile .panel-heading {background:#222D3D; height:56px; color:#fff; font-size:18px; font-weight:500; padding-top:15px; border-radius:0px;}












.bg-white {background:#fff;}
#upload-photo-container .upload-image {padding:18px 0 0 0;}
#upload-photo-container { background:#fff; float:left; width:100%; padding:0 25px 65px 25px; margin-bottom:20px;}

#upload-photo-container .price { font-size:25px; color:#222d3d; font-family:"Times New Roman", Times, serif; font-weight:bold; padding:10px 0;}
#upload-photo-container .veiwpaymentbtn { background:#72a105; color:#fff; font-size:19px; border-radius:0px !important; padding:4px 20px;}


#upload-photo-container .widget2 {border:1px solid #cfcfcf; margin-top:32px; padding:0 15px 30px 15px; border-bottom:2px solid #9d9c9c;}
#upload-photo-container .widget2 h3 { font-size:23px; font-weight:500;  color:#949494; padding-top:30px; text-align:left; }
#upload-photo-container .widget2 h4 {color:#222d3d; font-size:23px; padding-top:5px; text-align:left;}
#upload-photo-container .widget2 h5 { text-align:right;}
#upload-photo-container .widget2 .price { font-size:36px; color:#222d3d; font-family:"Times New Roman", Times, serif; font-weight:bold; padding:35px 0 10px 0;}




#upload-photo-container .widget3 {border:1px solid #cfcfcf; margin-top:30px; padding:0 15px 25px 15px;}
#upload-photo-container .widget3 h3 { font-size:18px; font-weight:500; padding-top:15px; }
#upload-photo-container .widget3 h3 a {outline:none; text-decoration:none;}
#upload-photo-container .widget3 h3 .addpets { background:#72a105; color:#fff; padding:5px 8px; font-size:13px; border-radius:2px;}
#upload-photo-container .widget3 h3 .addpets:hover { background:#87ae2e; color:#fff; padding:5px 8px; font-size:13px; border-radius:2px;}

#upload-photo-container .widget3 p { font-size:13px; padding-top:13px; padding-bottom:12px; }

.topsixty {padding-top:60px;}

#upload-photo-container .widget1 .upload-image {width:100%;}
#upload-photo-container .widget1 .upload-image img {}
#upload-photo-container .widget1 .h3 {text-align:right !important; font-size:25px; color:#949494; padding-top:30px; }
	#upload-photo-container .widget1 .h4 {text-align:right !important;}
/*	#upload-photo-container .widget1 button {text-align:right; float:right !important;}*/

#upload-photo-container .for-right-center {text-align:right; margin:0px auto; width:100%; font-size:25px; color:#949494; padding-top:45px;}
#upload-photo-container .for-right-center1 {text-align:right; margin:0px auto; width:100%; }
#upload-photo-container .for-right-center2 {text-align:right; margin:0px auto; width:100%; }
#upload-photo-container .widget1 .upload-image .btn-upload {background:#222d3d; color:#fff !important; height:28px; width:162px; border-radius:0px; font-size:14px; font-weight:500; padding:2px 0 0 0; text-align:center; margin:0px auto}

#upload-photo-container .widget1 .center-block {display:inline;}



@media (min-width:768px) and (max-width:990px) {#upload-photo-container .widget1 .upload-image .btn-upload {background:#222d3d; color:#fff !important; height:28px; width:100%; border-radius:0px; font-size:14px; font-weight:500; padding:2px 0 0 0; text-align:center; margin:0px auto}}

@media (min-width:991px) and (max-width:1199px) {#upload-photo-container .widget1 .upload-image .btn-upload {background:#222d3d; color:#fff !important; height:28px; width:162px; border-radius:0px; font-size:14px; font-weight:500; padding:2px 0 0 0; text-align:center; margin:0px auto}}
@media (min-width:1200px)   and (max-width:1500px) {
	#upload-photo-container .widget1 .upload-image .btn-upload {background:#222d3d; color:#fff !important; height:28px; width:100%; border-radius:0px; font-size:14px; font-weight:500; padding:2px 0 0 0; text-align:center; margin:0px auto}
	
	
	}

@media (min-width:1501px) {
	#upload-photo-container .widget1 .upload-image .btn-upload {background:#222d3d; color:#fff !important; height:28px; width:162px; border-radius:0px; font-size:14px; font-weight:500; padding:2px 0 0 0; text-align:center; margin:0px auto}
	
	
	}
@media (min-width:991px) and (max-width:1480px) {
	#createyourprofile h4 { color:#949494; font-size:15px; padding:28px 0 10px 0; font-family: 'Raleway', sans-serif; font-weight:500;}
	

	 }



@media (max-width:767px) {
	#upload-photo-container .for-right-center {text-align:center; margin:0px auto; width:100%; font-size:22px; color:#949494; padding-top:45px;} 
	#upload-photo-container .for-right-center1 {text-align:center; margin:0px auto; width:100%; }
	#upload-photo-container .for-right-center2 {text-align:center; margin:0px auto; width:100%; }
	#createyourprofile ul li { padding-top:60px; display:block;}
	.topsixty {padding-top:110px !important;}

	#upload-photo-container .widget2 .price { font-size:36px; color:#222d3d; font-family:"Times New Roman", Times, serif; font-weight:bold; padding:10px 0 0px 0;}
	#upload-photo-container .widget1 .h3 {text-align:center !important; font-size:25px; color:#949494; padding-top:30px;}
	#upload-photo-container .widget1 .h4 {text-align:center !important;}
	#upload-photo-container .widget1 button {text-align:center;}
	#upload-photo-container .widget1 .upload-image img {text-align:center; margin:0px auto; }
		
	
	
	#upload-photo-container .widget2 h3 {text-align:center; font-size:23px; color:#949494; padding-top:30px;}
	#upload-photo-container .widget2 h4 {color:#222d3d; font-size:23px; padding-top:5px; text-align:center;}
	#upload-photo-container .widget2 h5 { text-align:center;}
	
#upload-photo-container .widget1 .upload-image .btn-upload {background:#222d3d; color:#fff !important; height:28px; width:162px; border-radius:0px; font-size:14px; font-weight:500; padding:2px 0 0 0; text-align:center; margin:0px auto; display:block;}


#squarespaceModal .icons-social {padding:12px 0 0 0px !important;}

#squarespaceModal .btn-send {
    background: #81b703 none repeat scroll 0 0;
    border: 1px solid #679300;
    color: #fff;
    margin: 8px 0 0;
    padding: 8px 10px !important;
}

	}
	
	
	
	
	
	
	
	
	/*refer a friend popup starts*/
	
	#squarespaceModal .modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border:2px solid #83bb03 !important;
    border-radius: 6px; box-shadow:none;
    outline: 0 none;
    position: relative;
}
	
	#squarespaceModal .modal-title {font-size:27px; color:#83bb03; text-align:center; background-color:#fff;}
	
#squarespaceModal .modal-title span {background:#fff;}
	#squarespaceModal .close {opacity:1.0;  margin-right: -14px;
    margin-top: -14px;}
	#squarespaceModal .modal-header {
    border-bottom:none;
    padding: 15px;
}
	
	#squarespaceModal .popup-form { background:url(../../img/bg-family.png); background-position:right; background-repeat:no-repeat; padding:23px 0 40px 0;
  
    width:100%; height:auto; 
	
}
	#squarespaceModal .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: left;
}

#squarespaceModal .to-from .form-control {border-bottom: 1px solid #ccc;  border-left: none; border-right: none; border-top: none; border-radius:0px; color:#cbc9c9; font-style:italic; box-shadow:none; background:none; }

	#squarespaceModal .to-from .form-control::-moz-placeholder {
    opacity: 1; color:#cbc9c9; font-style:italic;  box-shadow:none; background:none;
}
	
	#squarespaceModal .to-from .form-control label {color:#4f4f4f; }
	
	
	
	 #squarespaceModal h2 {
   font-size:27px;
   color:#83bb03;
    text-align:center; padding:9px 0 0 0; 
   
}
#squarespaceModal h2 span {
    position:relative;
}
#squarespaceModal h2 span:before, h2 span:after {
    border-top: 1px solid #83bb03;
    content:"";
    position: absolute;
    top: 15px;
    right: 314px;
    bottom: 0;
    width: 44%;
}
#squarespaceModal h2 span:after {
    position: absolute;
    top: 15px;
    left:320px;
    right:0;
    bottom: 0;
	
}




#squarespaceModal .pop-content p {font-size:16px; font-style:italic; color:#606060; font-family: 'Open Sans', sans-serif; font-weight:300;}
	#squarespaceModal .pop-content p b{font-size:16px; font-style:italic; color:#606060; font-family: 'Open Sans', sans-serif; font-weight:500;}
	
	#squarespaceModal .pop-content .box { border:1px solid #b7b7b7; background:#fefefe; margin:-2px 0 0 0; padding-top:10px;}
	#squarespaceModal .pop-content .box-text {font-size:16px; padding:0 10px; color:#606060; font-family: 'Open Sans', sans-serif; font-weight:300; padding-top:15px;}
	
	
	#squarespaceModal .icon-stripe {background:#e4e4e4; height:55px;}
		
	#squarespaceModal .icons-social {padding:12px 0 0 30px;}
	
	#squarespaceModal .btn-send {background:#81b703; color:#fff; border:1px solid #679300; margin:8px 0 0 0; padding:8px 30px;}
	
	
		#squarespaceModal .link {padding:20px 0 0 0;}
	
	#squarespaceModal .email {font-size:12px; padding-top:15px;}
	
	#squarespaceModal .pop-footer ul li {font-size:12px; color:606060; padding:10px 2px 10px 2px;}
	
	
	#squarespaceModal .modal-body { padding-bottom:0px;}
	
	
	#squarespaceModal .green {background:#72a105; color:#fff;}
	
	/*refer a friend popup ends*/
	
	
	
	
	

