@charset "utf-8";
/* CSS Document */

.sitter-detail-page {background:#fff !important;}


.sitter-detail-page .fun-news {
    float: left;
    padding: 0px 0 0 !important;
    width: 100%;
}



.saerch-s-det {font-family: 'Raleway', sans-serif !important;}

/*Banner inner pages starts*/
.banner-sitter-detail {background:url(../../img/sitter-detail-banner.jpg) repeat; background-position:center; height:550px;  width:100%; margin-top:75px;}

.banner-sitter-detail .banner-info-wrapper{
    height:475px;
    width:475px;
    background:rgba(77, 80, 51, 0.4);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
   
	margin-top:35px;
   
}

.banner-info-inner {
	 height:475px;
    width:475px;
    background:rgba(77, 80, 51, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	position:relative;
	left:20px;
   
	margin-top:35px;
	
	
	}

.banner-sitter-detail .banner-info-wrapper .client-image {width:64px; height:64px; text-align:center; padding-top:35px;}

.banner-sitter-detail .banner-info-wrapper .name-banner { font-size:25px; font-weight:700; font-family: 'Raleway', sans-serif; color:#fff; text-align:center; margin-top:45px; margin-bottom: 0px;}


.banner-sitter-detail .banner-info-wrapper .punch-line { font-size:20px; font-weight:500; font-family: 'Raleway', sans-serif; color:#fff; text-align:center; padding-top:5px; margin-top: 0px; margin-bottom: 0px;}

.banner-sitter-detail .banner-info-wrapper .city-banner { font-size:15px; font-weight:500; font-family: 'Raleway', sans-serif; color:#fff; text-align:center; padding-top:8px; margin-top: 0px; margin-bottom: 0px;}

.banner-sitter-detail .banner-info-wrapper .details-stars ul li {padding-left:0px; padding-right:0px;}

.banner-sitter-detail .banner-info-wrapper .details-stars ul li {padding-left:0px; padding-right:0px; font-size:13px; color:#fff; font-family: 'Raleway', sans-serif;}
.banner-sitter-detail .banner-info-wrapper .details-stars .pad-review { position:relative; top:2px;}

.banner-sitter-detail .banner-info-wrapper .badage-detail {padding-top:8px;}
.banner-sitter-detail .banner-info-wrapper .badage-detail ul { margin-bottom:0px;}

.banner-sitter-detail .banner-info-wrapper .rates-detail { font-size:25px; font-weight:700; color:#fff; text-align:center; font-family: 'Raleway', sans-serif; margin-top: 0px; margin-bottom: 0px;}
.banner-sitter-detail .banner-info-wrapper .rates-detail span { font-size:25px; font-weight:700; color:#6eb6ff; text-align:center; font-family: 'Raleway', sans-serif; border-top:hidden !important;}

.banner-sitter-detail .banner-info-wrapper .rates-detail-caption { font-size:14px; font-weight:500; color:#fff; text-align:center; font-family: 'Raleway', sans-serif; margin-bottom: 0px; }

.banner-sitter-detail .banner-info-wrapper  .center-line {background:url(../../img/detail-center-line.png) no-repeat; width:100%px; height:108px; background-position:center; margin-top:20px;}

.banner-sitter-detail .banner-info-wrapper  .center-line .pad-t10 { padding-top:10px;}


.banner-sitter-detail .banner-info-wrapper  .center-line .marginleftminus { margin-left:-30px;}

.banner-sitter-detail .banner-info-wrapper  .center-line .marginrightminus { margin-right:-30px;}

.banner-sitter-detail .banner-info-wrapper .additional {font-size:18px; color:#6eb6ff; text-align:center; font-weight:400; padding-top:7px; clear:both; margin-top: 0px; margin-bottom: 0px; font-family: 'Raleway', sans-serif;}

.banner-sitter-detail .banner-info-wrapper .additional a {font-size:18px; color:#6eb6ff !important; text-align:center; font-weight:400; padding-top:7px; font-family: 'Raleway', sans-serif;}

.banner-sitter-detail .banner-info-wrapper .btn-cont {background-color:#72a105; color:#fff;  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; text-align:center; font-size:21px; font-weight:700; padding:8px 20px; margin-top:15px; outline:none;}
	.banner-sitter-detail .banner-info-wrapper .xs-padt10 {padding-top:0px;}

/*Banner inner pages ends*/


.pt30 {padding-top:30px;}
.detail-content .mid-sec-title {font-size:20px; color:#72a105; font-weight:400; margin-top: 0px; margin-bottom:0px;}
.detail-content .mid-sec-title1 {font-size:19px; color:#72a105; font-weight:400; padding-top:13px; margin-top: 0px; margin-bottom:0px;}
.detail-content .small-title {font-size:16px; color:#72a105; font-weight:400; padding-top:15px; margin-top: 0px; margin-bottom: 0px;}

.border-bot { border-bottom:1px solid #ddd; line-height:50px;}
.detail-content .detail-text {padding-top:10px; line-height:22px;}

.video-container {padding-top:15px;}

.pb15 { padding-bottom:15px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}

.one p {margin-bottom: 0px;}

.reviews-bold {font-size:16px; font-weight:600; color:#404040; }
.summary {font:13px; color:#999; font-weight:500;}
.rewiw-width100 {width:100%; float:left;}
.rewiw-width100 ul {margin-bottom:2px;}
.rewiw-width100 ul li { padding-left:0px; padding-right:0px;}
.rewiw-width50 {width:50%; float:left; font-size:13px; font-weight:800;  font-family: 'Raleway', sans-serif;}
.rewiw-width50 p {font-size:13px; font-weight:700;  font-family: 'Raleway', sans-serif;}

.review-comments p {font-size:13px; font-family: 'Raleway', sans-serif; text-align:justify;}
.review-comments .color999 {color:#999;}
.review-comments ul li  { padding-left:0px; padding-right:0px; }


.btn-read-more-reviews {border:1px solid #5aabe3 !important; color:#5aabe3; text-align:center; background-color:transparent; height:40px; font-size:14px; padding:0 35px !important; border-radius:2px; margin-top:40px;}
.btn-read-more-reviews:hover {border:1px solid #5aabe3; background-color:#5aabe3; color:#fff !important; text-align:center; height:40px; font-size:14px; padding:0 35px !important; border-radius:2px; margin-top:40px; outline: none; text-decoration: none;}
.btn-read-more-reviews:focus {border:1px solid #5aabe3; background-color:#5aabe3; color:#fff !important; text-align:center; height:40px; font-size:14px; padding:0 35px !important; border-radius:2px; margin-top:40px; outline: none; text-decoration: none;}
.responsive-margin {padding-left:30px;}

.imgWrap {
  position: relative;
  height: 100%;;
  width: 100%;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  color: #fff;


  visibility: visible;
  opacity: 1;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
   background: rgba(0, 0, 0, 0.4);
}

.play-video-btn {margin-top:15%; margin-left:45%; visibility:visible !important;}
.responsivept10  {padding-top:0px;}

.dogname {color:#72a105; font-size:14px; text-align:center; padding-top:5px;}
.dogbreed {color:#404040; font-size:13px; text-align:center;}

.detail-sitter-name {color: #6eb6ff;
    font-size: 24px;
    font-weight: 500; padding-top:30px; margin-top: 0px; margin-bottom: 0px;}
.detail-sitter-location {
color: #404040;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 500; padding-top:3px; margin-bottom: 0px;
}
.detail-sitter-joined {
color: #404040;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 300; padding-top:3px; margin-bottom: 0px;
}
.detail-sitter-detail .reviews { color:#999 !important; text-decoration:none; outline:none;}
.detail-sitter-detail .reviews:hover { color:#666 !important; text-decoration:none; outline:none;}
.recent-act {background:#494949; color:#fff; font-size:22px; margin-top:20px; height:46px; padding:7px 15px 0px 15px;}
.icon-width30 {width:30px; color:#bbb; }
.recent-act-widget ul {padding-top:12px;}
.recent-act-widget ul li { font-size:14px; padding-bottom:2px;}

.recent-act-widget .icon-p15 {padding-left:5px; font-size:15px; padding-top:7px;}
.recent-act-widget .font-size20 {font-size:20px; color:#72a105;}
.mb5 {margin-bottom:5px !important;}
.recent-act-widget .verified {font-weight:500;}

.btn-detsil-contact {
    background-color: #72a105;
    border: 1px solid #72a105;
    border-radius: 2px;
    color: #fff !important;
    font-size: 22px !important;
    height: 40px;
    padding-top:5px !important;
   
    text-align: left !important;
	width:80%; font-weight:500 !important;
}

.btn-detsil-contact:hover, .btn-detsil-contact:focus {
    background-color: #699305;
    border: 1px solid #72a105;
    border-radius: 2px;
    color: #fff !important;
    font-size: 22px !important;
    height: 40px; padding-top:5px !important;
   
   
    text-align:left important;
	width:80%;
	font-weight:500;
}


.btn-heart { background-color:transparent; color:#DA6A14 !important; width:20%; font-size:38px !important; outline:none !important; text-decoration:none !important;}
.btn-heart:hover { background-color:transparent; color:#DA6A14 !important; width:20%; font-size:38px; outline:none !important; text-decoration:none !important;}
.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}

/*.btn-heart:hover { background-color:transparent; color:#e66f14; width:20%; font-size:38px; outline:none !important; text-decoration:none !important;}*/
.heart-pos {position:relative; top:-13px;}

.btn-width100 {width:100% !important;}

.dog12 span {height:50px; width:50px;}

.xsdog {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -530px -50px;
    display: inline-block;
    height: 22px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 35px;
}

.smdog {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -568px -46px;
    display: inline-block;
    height: 25px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 35px;
}

.mddog {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -615px -28px;
    display: inline-block;
    height: 43px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 54px;
}

.lgdog {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -530px -50px;
    display: inline-block;
    height: 22px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 35px;
}


.dog-title1 {font-size:16px; padding-top:20px; margin-bottom: 0px;}

ul.pet-list{ margin:0px; padding:0px; list-style-type:none; width:100%; float:left;}
ul.pet-list li{ float:left; text-align:center; font-size:12px; width:25%;}
ul.pet-list li span{ width:43px; height:47px;  display:block; margin:0 auto; float:left;}
ul.pet-list li.pet-1 span{ background:url(../../img/search-icons.png) no-repeat 0px -663px;}
ul.pet-list li.pet-2 span{ background:url(../../img/search-icons.png) no-repeat -43px -663px;}
ul.pet-list li.pet-3 span{ background:url(../../img/search-icons.png) no-repeat -86px -663px;}
ul.pet-list li.pet-4 span{ background:url(../../img/search-icons.png) no-repeat -129px -663px;}
ul.pet-list li.pet-5 span{ background:url(../../img/search-icons.png) no-repeat -172px -663px;}
ul.pet-list li.pet-6 span{ background:url(../../img/search-icons.png) no-repeat -215px -663px;}
ul.pet-list li.pet-7 span{ background:url(../../img/search-icons.png) no-repeat -258px -663px;}

.pet-list .weight {
    clear: left;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px; margin-bottom: 0px;
}

.pet-list .pound {
    clear: left;
    color: #999999;
    float: left;
    font-size: 12px;
    font-weight: 500; margin-bottom: 0px;
}

.bod-bot {border-bottom:none !important;}

.detail-cal-widget {border:1px solid #e5e5e5; padding:6px; margin-top:25px;}

.detail-full-wrapper .leading-area .more-sitter { background:none; margin:40px 0 0 0; padding:0px;}


.detail-full-wrapper .leading-area {
    float: left;
    padding: 0px 0 0;
    width: 100%;
}


.detail-full-wrapper .leading-area .more-sitter .ms-area ul li a p.name {
    color: #72a105;
    font-size: 16px;
    font-weight: 300;
}


.detail-full-wrapper .leading-area .more-sitter .ms-area ul li a p.loc {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}


.detail-full-wrapper .leading-area .more-sitter .ms-area ul li a img {
    margin: 0 0 4px;
}



.detail-full-wrapper .leading-area .more-sitter .grey {color:#999 !important; padding-top:5px;}

.detail-full-wrapper .leading-area .more-sitter .ms-area ul li {
    float: left;
    text-align: center;
    width: 16.6%;
}


.video-box {width:100% !important; margin:0px auto;}
.video-iner {margin-left:16% !important; margin-top:4%;}


#myCarousel5 .carousel-control {
   
    top: 40%; background:none;
   
}


#myModal2 {background:#000;}


@media (min-width:768px) and (max-width:991px){
	
	.detail-full-wrapper .leading-area .more-sitter .ms-area ul li{ width:50%; border-bottom:none; padding:25px 0 25px 0; min-height:240px;}
	
	
	
	}





@media (max-width:767px) {
	
	
	
	
	.play-video-btn {
    margin-left: 34%;
    margin-top: 8%;
    visibility: visible !important;
}
	.responsivept15  {padding-top:15px;}
	
	.responsive-margin {padding-left:0px;}
	
		.detail-full-wrapper .leading-area .more-sitter .ms-area ul li{ width:100%; border-bottom:none; padding:25px 0 25px 0; min-height:240px;}
	
/*	
	banner area starts*/
	
	
	
	.banner-sitter-detail {background:url(../../img/sitter-detail-banner.jpg) no-repeat; background-position:center; background-size:cover; height:650px;  width:100%; margin-top:75px;}

.banner-sitter-detail .banner-info-wrapper{
    height:auto;
    width:100%;
    background:rgba(77, 80, 51, 0.4); border-radius:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
   
	margin-top:35px;
   
}

.banner-info-inner {
	 height:auto;
    width:100%;
    background:rgba(77, 80, 51, 0.2);
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
	position:relative;
	left:0px;
   
	margin-top:45px;
	
	
	}

.banner-sitter-detail .banner-info-wrapper .client-image {width:64px; height:64px; text-align:center; padding-top:20px;}

.banner-sitter-detail .banner-info-wrapper .name-banner { font-size:25px; font-weight:700; font-family: 'Raleway', sans-serif; color:#fff; text-align:center; margin-top:25px;}


.banner-sitter-detail .banner-info-wrapper .punch-line { font-size:20px; font-weight:500; font-family: 'Raleway', sans-serif; color:#fff; text-align:center; padding-top:5px;}

.banner-sitter-detail .banner-info-wrapper .city-banner { font-size:15px; font-weight:500; font-family: 'Raleway', sans-serif; color:#fff; text-align:center; padding-top:8px;}

.banner-sitter-detail .banner-info-wrapper .details-stars ul li {padding-left:0px; padding-right:0px;}

.banner-sitter-detail .banner-info-wrapper .details-stars ul li {padding-left:0px; padding-right:0px; font-size:13px; color:#fff;}
.banner-sitter-detail .banner-info-wrapper .details-stars .pad-review { position:relative; top:2px;}

.banner-sitter-detail .banner-info-wrapper .badage-detail {padding-top:8px;}
.banner-sitter-detail .banner-info-wrapper .badage-detail ul { margin-bottom:0px;}

.banner-sitter-detail .banner-info-wrapper .rates-detail { font-size:22px; font-weight:700; color:#fff; text-align:center; font-family: 'Raleway', sans-serif;}
.banner-sitter-detail .banner-info-wrapper .rates-detail span { font-size:22px; font-weight:700; color:#6eb6ff; text-align:center; font-family: 'Raleway', sans-serif; border-top:hidden !important;}

.banner-sitter-detail .banner-info-wrapper .rates-detail-caption { font-size:14px; font-weight:500; color:#fff; text-align:center; font-family: 'Raleway', sans-serif; }

.banner-sitter-detail .banner-info-wrapper  .center-line {background:none; width:100%px; height:108px; background-position:center; margin-top:20px;}

.banner-sitter-detail .banner-info-wrapper  .center-line .pad-t10 { padding-top:10px;}


.banner-sitter-detail .banner-info-wrapper  .center-line .marginleftminus { margin-left:0px;}

.banner-sitter-detail .banner-info-wrapper  .center-line .marginrightminus { margin-right:0px;}

.banner-sitter-detail .banner-info-wrapper .additional {font-size:18px; color:#6eb6ff; text-align:center; font-weight:400; padding-top:12px; clear:both;}

.banner-sitter-detail .banner-info-wrapper .additional a {font-size:18px; color:#6eb6ff !important; text-align:center; font-weight:400; padding-top:7px;}


.banner-sitter-detail .banner-info-wrapper .btn-cont {background-color:#72a105; color:#fff;  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; text-align:center; font-size:21px; font-weight:700; padding:8px 20px; margin-top:15px; margin-bottom:18px;}

	
	
.banner-sitter-detail .banner-info-wrapper .padding-right0px {padding-right:15px;}
	
	
	.banner-sitter-detail .banner-info-wrapper .padding-left0px {padding-left:15px;}
	
	
	
	.banner-sitter-detail .banner-info-wrapper .xs-padt10 {padding-top:10px;}
	
	
	
	/*
	banner area ends*/
	
	
	
	
	
	}



/*Sprit icons starts*/
.speak {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -251px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 20px;
}


.experience {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -277px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 20px;
}

.familar {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -296px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 20px;
}


.behave {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -322px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}

.rescue {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -345px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}
.book {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -368px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}


.cancel {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -392px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}

.fence {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -414px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}

.smoke {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -441px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}

.onecat {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -467px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}

.onedog {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -491px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}

.child {
    background: rgba(0, 0, 0, 0) url(../../img/search-icons.png) no-repeat scroll -512px -485px;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 auto;
    position: relative;
    top: 4px;
    width: 21px;
}

/*Sprit icons ends*/