@charset "utf-8";
/* CSS Document */

.terms-page {background:#fff !important;}


.terms-page .fun-news {
    float: left;
    padding: 0px 0 0 !important;
    width: 100%;
}




/*Banner inner pages starts*/
.banner-area-terms {background:url(../images/terms.jpg) repeat; background-position:center; height:350px;  width:100%; margin-top:75px;}

.banner-area-terms h3 {text-align:center; color:#fff; font-size:30px; padding-top:106px;  padding-bottom:35px;}
.banner-area-terms p {text-align:center; color:#fff; font-size:14px; line-height:25px; }

/*Banner inner pages ends*/


